MONGO_URI=mongodb://localhost:27017/evoting
JWT_SECRET=change_me_in_production
HARDHAT_RPC_URL=http://localhost:8545
BALLOT_AUDIT_REGISTRY_ADDRESS=
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
PORT=3001
NODE_ENV=development
